@import url('https://fonts.googleapis.com/css2?family=Gidole&display=swap');

@import "tailwindcss";


@theme {
  --font-roboto: "Gidole", sans-serif; 
}

#app {
  width: 100% !important;
  margin: 0 auto;
}